/*CSS General*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{font-family: 'Questrial', sans-serif;}*

body {
  background-image:  url(fridafondo.jpsg);
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

.html


h1 {
    font-size: 36px;
}



.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
/*CSS General fin*/
.custom-card {
    background-color: hsla(260, 76%, 75%, 0.959);
    border: 0cap solid hsla(260, 76%, 75%, 0.959);
  }
  .custom-card h3 {
    color: #000000;
  }
  .custom-card body {
      font-family: 'Questrial', sans-serif;
    font-size: 24px;
  }
  .custom-card p {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  line-height: 1.5;
  }

  body {
    background-image: url(fridafondo.jpeg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center;;
}