/*Enlace para tipografía de la página Functions*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{font-family: 'Questrial', sans-serif;}*
/*Enlace para tipografía de la página Functions*/

/*Aquí comienzan los códigos del CSS General*/
h1 {
    font-size: 36px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
/*Aquí acaban los códigos del CSS General*/

/*Aquí comienzan los códigos de Anna y Elaine, para la página Objectives*/
.btn-button{
    background-color: #5C41D9;
    color: azure;
    font-size: x-large;
    line-height: 60px;
    min-width:  400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: weight 400;
    font-style: italic;
    border: 20px solid #5C41D9;
    margin-top: 50px;
    position: relative;
    left: 22px;
}

.btn-button2{
    background-color: #FFBF40;
    color: azure;
    font-size: x-large;
    line-height: 60px;
    min-width:  400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    border: 20px solid #FFBF40 ;
    position: relative;
    left: 296px;
}

.btn-button3{
    font-size: 34px;
    background-color: #FFBF40;
    color: azure;
    font-size: x-large;
    line-height: 60px;
    min-width:  400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    border: 20px solid #FFBF40;
    margin-top: 74px;
    position: relative;
    left: 125px;
}
.btn-button4{
    font-size: 34px;
    background-color: #5C41D9;
    color: azure; 
    font-size: x-large;
    line-height: 60px;
    min-width:  400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    border: 20px solid #5C41D9;
    position: relative;
    left: 400px;
    height: 12;
}

.img-FUNCTIONS{
    left: 20px;
    top: 300px;
}

body {
    margin: 0;
}

.contenedorfunctions {
    margin-top: 110px; /*Este código ajusta el valor según sea necesario */
    margin-left: 415px; /*Este código ajusta el valor según sea necesario */
}

.img-contenedorfunctions {
    max-width: 45%; /*Ancho máximo, no se puede pasar del tamaño del contenedor*/
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('Us-Fondo.png');
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Ajusta la posición de la imagen en el centro */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
}
/*Aquí terminan los códigos de Anna y Elaine, para la página Objectives*/