/*Enlace para tipografía de la página Objectives*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{font-family: 'Questrial', sans-serif;}*
/*Enlace para tipografía de la página Objectives*/

/*Inicio de css general*/
body {
  background-image: url(fridafondo.jpeg); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
/*fin de css general*/

/*Style para las cards: color, background, opacity*/
.custom-card1 {
  background-color: hsla(260, 76%, 75%, 0.959);
  border: 0cap solid hsla(260, 76%, 75%, 0.959);
  opacity: 0.6;
  width: 310px;
  height: 500px;
  position: left;
}

.custom-card2 {
  background-color: hsla(59, 86%, 50%, 0.959);
  border: 0cap solid hsla(59, 86%, 50%, 0.959);
  opacity: 0.6;
  width: 310px;
  height: 500px;
  position: center; 
}

.custom-card3 {
  background-color: hsla(260, 76%, 75%, 0.959);
  border: 0cap solid hsla(260, 76%, 75%, 0.959);
  opacity: 0.6;
  width: 310px;
  height: 500px;
  position: left;
}

.custom-card1 h2 {
  color: #fff;
}

.custom-card2 h2 {
  color: #ffffff;
}

.custom-card3 h2 {
  color: #fff;
}

.custom-card body {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
}

.custom-card1 p {
  font-size: 24px;
}

.custom-card2 p {
  font-size: 24px;
}

.custom-card3 p {
  font-size: 24px;
}

p {
  font-size: 18px;
 line-height: 1.5;
 color: #000000;
}

.Objectives {
  margin-left: 80px;
  width: 50%;
}
  
  
h3 {
 text-align: center;
 margin: 0 auto;
 width: 50%;
}
/*Style para las cards: color, background, opacity*/