/*Enlace para tipografía del header*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{font-family: 'Questrial', sans-serif;}*
/*Enlace para tipografía del header*/

/*Aquí comienzan los códigos generales, para la página Header*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

header {
    background-color:#E9E9E9;
    color: #000000;
    text-align: center;
    padding: 30px;   
    box-shadow: 0 3px 20px #8B51FD; 
}

nav a:hover{
    color: #8b51fd;
}

nav ul {
    list-style: none;
    padding: 20;
    position: relative;
    right: 38px
}

nav ul li {
    display: inline;
    margin:  40px;
}

nav ul li a {
    text-decoration: none;
    color:#000000;
    font-size: 19px;
    font-family: 'Questrial', sans-serif;
}

.logout {
    position: relative;
    bottom: 80px;
    left: 1230px;
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-family: 'Questrial', sans-serif;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #5C41D9;
    transition: background-color 0.3s;
  }

  .logout:hover, .registro:hover, .inicio:hover {
    background-color: #2200BF;
  }

  .logout:active, .logout:active, .registro:active{
    background-color: #2200BF;
  }
/*Aquí terminan los códigos generales, para la página Header*/