/*Enlace para tipografía de la páina About Us*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{font-family: 'Questrial', sans-serif;}*
/*Enlace para tipografía de la páina About Us*/

/*Aquí comienzan los códigos del CSS General*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

body {
  background-image: url(Us-Fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}


.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    line-height: 1.5
}
/*Aquí acaban los códigos del CSS General*/

/*Aquí comienzan los códigos de José, para la página About Us*/
body h1 {
    font-size: 70px;
}

body h3 {
    font-size: 40px;
}

.videofunciones {
 width: 350px;
}

.about-video {
    align-items: right;
}

.about-text {
    flex: 1;
    text-align: left;
    text-align: justify;
}
/*Aquí acaban los códigos de José, para la página About Us*/
   
