/*Enlace para tipografía de la página Search*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{font-family: 'Questrial', sans-serif;}*
/*Enlace para tipografía de la páina Search*/

/*Aquí comienzan los códigos del CSS General*/
body {
    margin: 0;
    background-image: url(Search.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
/*Aquí acaban los códigos del CSS General*/

/*Aquí comienzan los códigos para la página Search*/
.videobackupcopy {
    width: 300px;
}

div.about-video {
    margin-left: 150px;
    margin-top: 0px;
}
   
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}
  
.close-btn {
    background-color: #FFBF40; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    font-size: 50px;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    left: 10px;
    position: relative;
}
  
.close-btn:hover {
    background-color: #E8A319; /* Color de fondo del botón al pasar el mouse */
}
/*Aquí acaban los códigos para la página Search*/