/*Enlace para tipografía de la página Information*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{font-family: 'Questrial', sans-serif;}*
/*Enlace para tipografía de la página Information*/

/*Aquí comienzan los códigos de Sharol, para la página Information*/
body {
    background-image: url(fondo\ de\ information.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center;
}

img {
    max-width: 100%;
    height: auto;
}

p.texto {
    font-size: 35px;
    line-height: 1.6;
}
/*Aquí acaban los códigos de Sharol, para la página Information*/