nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 20px;
    background-color: #c6c6c6;
    position: relative;
    text-decoration: none;
    
}

nav a{
    color: #000000;
    font-size: 30px;
}

.links a {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #c6c6c6;
    color: #fff;
    position: relative;

    text-decoration: none;
    color: #000000;
    padding: 0 10px;
    position: relative;
}
.links a:hover {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #c6c6c6;
    color: #fff;
    position: relative;

    color: #fff184;
}
.divider {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #c6c6c6;
    color: #fff;
    position: relative;

    position: absolute;
    height: 50%;
    border-left: 1px solid #000000;
    top: 25%;
    left: 0;
}

h1{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #c6c6c6;
    color: #fff;
    position: relative;
    
    color: #df5151;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba (155,99,99, 0.5);
    text-align: center;
    padding: 30px;
    font-size: 40px;
    text-shadow: 3px 3px 5px pink;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-logo img {
    max-width: 100px; 
    height: auto;
}


.footer-text {
    text-align: center;
}

.footer-text p {
    margin: 0;
    font-size: 14px;
}


