body{
    background-image: url();
}

h1{
    color: #df5151;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba (155,99,99, 0.5);
    text-align: center;
    padding: 30px;
    font-size: 40px;
    text-shadow: 3px 3px 5px pink;
}

